h1:hover{
    color: red;
    font-style: oblique;
}

.bordaR{
    border-right: 3px solid red;
}

.tm{
    image-resolution: 200px 200px;
}

.bgc{
    background-color: gainsboro;
}
.lado {
    background-color: rgb(71, 0, 0);
    color: ghostwhite;
    width: 300px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    box-shadow: 1px 1px 3px #f3f3f3;
}